#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  line-height: 1.5;
  font-size: 16px;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    font-family: Verdana,sans-serif;
    background-color: #05386B;
    color: #EDF5EF;
}

a {
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6, strong {
  color: #EDF5EF;
}

p, ul, a:link, a:visited {
  color:#EDF5EF;
}

a:hover {
    color: #8EE4AF;
}

hr {
  border-top: 3px solid #EDF5EF;
  border-radius: 1px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images img {
  margin: 10px;
  max-height: 300px;
  max-width: 300px;
}

.images img:hover {
  border: 2px solid #8EE4AF;
}


form.myform {
  /* Center the form on the page */
  margin: 0 auto;
  width: 430px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #EDF5EF;
  border-radius: 1em;
}

ul.myform {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}


label.myform
{
   display: inline;
   float: left;
   text-align: right;
   width: 6em;
   margin-right: 1em;
}

input, 
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;


  /* Match form field borders */
  border: 1px solid #EDF5EF;
}

input:focus, 
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #EDF5EF;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

button {
  background-color: #5CDB95;
  border: none;
  color: #EDF5EF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button.myform {
  background-color: #5CDB95; 
  border: none;
  color: #EDF5EF;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-right: .5em;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #05386B;
  overflow: hidden;
  font-size: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #EDF5EF;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #8EE4AF;
  color: #EDF5EF;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5CDB95;
  color:#EDF5EF;
}

.select
{
  display: inline-block;
  width: 160px;
  height: 34px;
  line-height: 30px;
  position: relative;
}
